* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Outfit', sans-serif;
    background: #fdfaf1; /* Premium Light Cream */
    color: #1a2e05;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}